body{
    font-family: "Poppins", sans-serif;
}

img{
    display: block;
}

.container{
  width: 1150px;
  padding: 0 15px;  
  margin: 0 auto;
}

.mb-8{
  margin-bottom: 8px;
}

.mb-12{
    margin-bottom: 12px;
} 

.tx-center{
    text-align: center;
}