.header .container{
    display: flex;
    align-items: center;
}

.header-nav{
    display: flex;
    align-items: center;
    gap: 237px;
    margin-right: 73px ;
}

.nav-log{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 0;
    display: flex;
    gap: 16px;
    color: #173A56;
}

.nav-list{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0;
    display: flex;
    gap: 30px;
}

.header-btn-list{
    display: flex;
    gap: 21px;
}

.nav-link{
    display: block;
    padding: 26px 0;
    color: #22343D;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover{
    color: #02897A;
}

.header-btn{
    font-weight: 600;
    border-radius: 4px;
    font-size: 16px;
    padding: 9px 24px;
    letter-spacing: 0;
    line-height: 1.5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-in{
    border: 1px solid #BCD0E5;
    width: 105;
    height: 42;
    color: #173A56;
    background-color: #FFFFFF ;
}

.sign-in:hover{
    background-color: #f8f9fa;
    border-color: #02897A;
    color: #02897A;
}

.sign-up{
    background-color: #02897A;
    color: #FFFFFF;
}

.sign-up:hover{
    background-color: #026b5f;
}




